<div style = "text-align:center"><br>
<a class="BlueButton" href="/team_maker/create_room">ルームを作成</a>
<a class="GreenButton" href="/team_maker/join">ルームに参加</a>
<a class="BlueButton" href="/team_maker/result">グループ分け結果を表示</a>
</div>
