<%
str = "作成"
str2 = "create_room"
if session[:rid]!=nil then
    str = "管理"
    str2 = "room"
end

%>
<div style = "text-align:center"><br>
<a class="BlueButton" href="/team_maker/<%= str2 %>">ルームを<%= str%></a>
<a class="GreenButton" href="/team_maker/join">ルームに参加</a>
<a class="BlueButton" href="/team_maker/result">グループ分け結果を表示</a>
</div>
