<div style = "text-align:center"><br>
<a class="BlueButton" href="/team_maker/create_room">チームを作成</a>
<a class="GreenButton" href="/team_maker/join">チームに参加</a>
<a class="BlueButton" href="/team_maker/result">結果を表示</a>
</div>
