<script>
document.getElementById("subtitle").innerHTML = "ルーム"
</script>
<span style="text-align:center">
<table>
  <tr>
    <th>Rname</th><td><%= @room.Rname %></td>
  </tr>
  <tr>
    <th>Rchar</th><td><%= @room.Rchar %></td>
  </tr>

</table>
パラメータ
<br>
<%= link_to "新規作成", {:action => "AddParams"},{class: "BlueButton"}%>
</span>