<script>
document.getElementById("subtitle").innerHTML = "ルーム"
</script>
<p align="center">
<b>ルーム名</b>　<%= session[:Rname] %><br>
<b>入室コード</b>　<%= session[:Rchar] %>

  <br>
  <br>
 
  <b>パラメータ</b>
  
<br>
<% 
    output = "";
    arr = Array.new
    par=Paramater.where(Rid: session[:rid])
    len=par.length
    par.each {|par0|
      output = output+"パラメータ名："
      output = output+ par0[:Pname]
      output = output+"　　選択肢の数："
      output = output+ par0[:format].to_s
      output = output+ "<br>"
    }
%>
<%=
    output.html_safe
%>
<br>
<%= link_to "追加", {:action => "AddParams"},{class: "BlueButton"}%>

</p>